#.gitignore
certs
__pycache__/
.venv/
.env
operator/restart-prompts/*
!operator/restart-prompts/.gitkeep
device/targets/firmware/stm32/build/
device/targets/simulator/build/
device/core/build/
eim_config.toml